{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}
{% blocktrans %}
<h2>Hello!</h2>
<img src="/static/img/agata.jpg">
<p>
    I'm Agata and I live in Wrocław, Poland.
</p>
<p>
    I try to earn money as a programmer. My favourite language is Python, but I'mals
</p>
<p>
    Sometimes, when I have something interesting to say, and speak at meetings.
</p>
<p>
    I have to be honest to you. I'm not so busy and important. This page exists because I wanted to learn heroku and see how hard it is to set up my own domain (you know what? it's not hard at all!).
</p>
{% endblocktrans %}
{% endblock %}
